* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 0.5em;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

.game-boards {
  border: 1px solid black;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  padding: 2em;
  margin: 1em;
}

.player-board,
.computer-board {
  width: 416px;
  height: 416px;
  border: 1px solid red;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  align-items: center;
  justify-items: center;
  margin: 0 4em;
}

.divs {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: gray;
}

.round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.ship-preview {
  padding: 10px;
  border: 1px solid black;
  width: 200px;
  height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carrier {
  width: 200px;
  height: 40px;
  background-color: red;
}

.battleship {
  width: 160px;
  height: 40px;
  background-color: red;
}

.destroyer,
.submarine {
  width: 120px;
  height: 40px;
  background-color: red;
}

.patrol-boat {
  width: 80px;
  height: 40px;
  background-color: red;
}

.hit {
  background-color: red;
}

.miss {
  background-color: blue;
}

.ship {
  background-color: pink;
}
